/*main dashboard*/
.mainDash{
    width:100%;
    background:#F9F9F9;
    overflow:hidden;
    
}
/*
.main_body{
    width: 32%;
    float: left;
    margin-right: 10px;
}*/
.main_body h1{
    font-size:20px;
    color:#434343;
    font-weight:bold
}
.board_wrap{
    margin-top:20px
}
/*게시판*/
.board_conts{
    width:100%;
    background:#fff;
    padding: 10px;
    border-bottom: 1px dotted #ddd;
    border-top: 1px dotted transparent;
    border-left: 1px dotted #fff;
    border-right: 1px dotted #fff;
    word-break: break-all;
}

.board_conts span.noti_ico{
    width: 50px;
    height: 50px;
    background: #f9f9f9 url(../img/ico_noti.png) no-repeat;
    display: inline-block;
    border-radius: 50%;
    background-position: center;
}
.board_conts .bd_text{
    display:inline-block;
    padding:10px 15px
}
.board_conts .bd_text .bd_tit{
    margin: 0;
    font-size: 17px;
    font-weight: bold;
    color: #6f6f6f;
}
.board_conts .bd_text .bd_date{
    color:#b3b3b3;margin:0;padding:0
}
.board_conts .bd_text .bd_date:before{
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url(../img/ico_time.png) no-repeat;
    clear: both;
    content: '';
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 3px;
}
